.add-user-button {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

mat-card-content {
    padding: 0;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    td {
        height: 48px;

        &:first-child {
            padding-left: 16px;
        }
    }

    th {
        color: rgb(0, 0, 0, 0.5);
        font-size: 14px;
        font-weight: 400;
        text-align: start;

        &:first-child {
            padding-left: 16px;
        }
    }

    tr {
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
        cursor: pointer;

        &:hover {
            background-color: rgb(0, 0, 0, 0.1);
        }

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }
}