.header {
    min-height: 250px;
    background-color: rgb(6, 62, 159);
    color: white;

}

.header-content {

    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    height: 100%;

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.header-userdetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 32px;
    height: 100px;
    gap: 4px;

    h2 {
        margin: 0;
    }
}

.address {
    margin-top: 32px;
}